<div class="container">
  <div class="sub-container">
    <div class=" flex-container " style="text-align:center;margin-bottom: 15px; margin-top:15px; " >
      <div class="btn-group " data-toggle="buttons-radio ">
        <a type="button" class="btn btn-default" (click)="getCategories('pizzas')" >PIZZAS</a>
        <a type="button" class="btn btn-default" (click)="getCategories('dessert')" >DESSERT</a>
        <a type="button" class="btn btn-default" (click)="getCategories('boisson')" >BOISSON</a>
      </div>
    </div>
  </div>
  <div class="sub-container list">
    <ul class="list-group" >
      <li class="list-group-item addProduct">
        <button type="button" class="btn btn-default addCat" data-toggle="modal" data-target="#myModal">
          Ajouter un produit
        </button>
      </li>
      <li class="list-group-item products" *ngFor="let cat of categories">
        <div class="tableContainer">
          <div class="row">
            <div class="panel panel-primary filterable">
              <div class="panel-heading">
                <h3 class="panel-title">{{cat.libelle}}</h3>
                <div class="pull-right">
                  <button class="btn btn-default btn-filter">
                    <span class="glyphicon glyphicon-plus "></span>
                  </button>
                </div>
              </div>
              <table class="table">
                <thead class="tableHead">
                <tr class="filters">
                  <th>#</th>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Prix(Euro)</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody class="tableBody" *ngFor="let camatt of categories; let i=index">
                <tr>
                  <td>{{(i+1)}}</td>
                  <td>Some name</td>
                  <td>Some description</td>
                  <td>10</td>
                  <td> <button type="button" class="btn btn-default edit" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button></td>
                  <td> <button type="button" class="btn btn-default delete" data-toggle="modal" data-target="#deleteConfirmation">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ajouter une catégorie dans {{currentType}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="control-label col-sm-2" for="category">Catégorie:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="category" placeholder="Catégorie">
            </div>
          </div>
            <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nom:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Nom">
            </div>
            </div>
              <div class="form-group row">
            <label class="control-label col-sm-2" for="description">Description:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="description" placeholder="Description">
            </div>
              </div>
                <div class="form-group row">
            <label class="control-label col-sm-2" for="price">Prix:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="price" placeholder="0-99">
            </div>
                </div>
                  <div class="form-group row">
            <label class="control-label col-sm-2" for="image">Image:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="image" placeholder="http://">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default submit">Submit</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="deleteConfirmation" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Supprimer le produit ?</h4>
      </div>
      <div class="modal-footer">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default cancel" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-default submit">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
