.btn-default{
  border-radius: 0px;
  border:none;
  text-transform: uppercase;
  color: #5F5B57;
  font-family: Avenir;
  font-style: normal;
  background-color: #d5e4e3;
}


.btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #84b067;
}


.list-group-item{
  background-color:#FDFAD5 ;
  color: #5F5B57;
  text-transform: uppercase;
}


.glyphicon-trash{
  color: #faa5aa;
}
.glyphicon-edit{
  color: #5F5B57;
}

.addCat{
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #84b067;
}

.btn-default:focus{
  outline: none;
}

.btn-default.submit{
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #84b067;
}

.btn-default.cancel{
  border: none;
  border-radius: 2px;
  color: #5F5B57;
  background-color: #d5e4e3;
  text-transform: none;
  font-family: Avenir;
  font-style: normal;

}

.modal-title{
  font-family: Avenir;
}

.form-group{
  font-family: Avenir;
  padding: 2%;
}

.list-group-item.products{
  border: none;
  border-radius: 0px;
  background-color: transparent;
}

.list-group-item.addProduct{
  background-color: transparent;
  border: none;
  margin-left: -15px;
}

.tableContainer{
  border: none;
  border-radius: 0px;
  font-family: Avenir;
  color: #5F5B57;
}

.tableHead{
  font-size: 15px;
  font-family: AvenirBold;
}

.panel-heading{
  background-color: #AAB6B5;
  border: none;
}

.panel.panel-primary.filterable{
  border: none;
  border-radius: 0px;
}

.btn-filter{
  margin-top: -40px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: #5F5B57;
  padding-left: 9px;
}

.btn-filter:active{
  background-color: transparent;
  outline: none;
}

span.glyphicon.glyphicon-plus{
  color: #5F5B57;
  text-align: center;
}

.btn-default.delete{
  background-color: transparent;
}

.btn-default.edit{
  background-color: transparent;
}

