div.upperNav{
  height: 0;
  padding-bottom: 7%;
}

div.upperNav a img{
  width: 15%;
  margin-left: 5%;
}

div.upperNav div.col-xs-2{
  padding-top: 3%;
}

div.upperNav div.col-xs-2 a span{
  margin-right: 3%;
}

div.upperNav div.col-xs-2 a{
  color: #0d0d0d;
}

img.logo-img{
  width: auto;
  height: auto;
}

@media screen and (max-width: 767px) {

  div.upperNav{
    height: 0;
    padding-bottom: 15%;
  }

  div.upperNav a img{
    width: 20%;
    margin-left: 5%;
  }

  div.upperNav div.col-xs-2 a span.monCompteText{
    display: none;
  }

  div.upperNav div.col-xs-2{
    text-align: right;
    padding-right: 5%;
    padding-top: 5%;
  }

}

btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: white !important;
    border-color: white!important;
}



btn-default:hover, .btn-default:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:focus, .btn-default:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default, .btn-default, .open > .dropdown-toggle.btn-default.focus{
    color: #333;
    background-color: white!important;
    border-color: white!important;
}

.monCompteText{
  font-family: Avenir;
  font-style: normal;
  color: #5F5B57;
}

#dropdownMenu1{
  background-color: #FEFDED !important;
  border-color: #FEFDED !important;
}
