<div class="container ">
    <div class="flex-container">
        <div class="btn-group" data-toggle="buttons-radio">
            <a href="#" type="button" class="btn btn-primary">Tous</a>
            <a href="#" type="button" class="btn btn-primary">Base Tomate</a>
            <a href="#" type="button" class="btn btn-primary">Base Barbecue</a>
            <a href="#" type="button" class="btn btn-primary">Base Crème Fraiche</a>
            <a href="#" type="button" class="btn btn-primary">Sans Porc</a>
            <a href="#" type="button" class="btn btn-primary">Sans Viande</a>
            <a href="#" type="button" class="btn btn-primary">Nouveau</a>
        </div>
    </div>
    <div class="sub-container">
        <div class="row">
            <div *ngFor="let pizza of pizzas" class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                <span>{{pizza.name}}</span>
                <div class="card">
                    <div class="card-image dimension">
                        <img class="img-responsive" src={{pizza.urlImage}}>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Description pizza à ajouter.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
