<div class="container">
    <div class="sub-container">
        <div class=" flex-container " style="text-align:center;margin-bottom: 15px; margin-top:15px; ">
            <div class="btn-group " data-toggle="buttons-radio " *ngFor="let cat of categories ">
                <a href="# " type="button " class="btn btn-default ">{{cat.name}}</a>
            </div>
        </div>
    </div>
    <div class="sub-container">
        <div class="row">
            <div *ngFor="let item of items " class=" .col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12 container-card ">
                <div class="flip-container " ontouchstart="this.classList.toggle( 'hover'); ">
                    <div class="flipper ">
                        <div class="front ">
                            <div class="card ">
                                <img class="card-img-top " src="{{item.picture}} ">
                                <div class="card-block ">
                                    <h5 class="text-bold " style="text-align: center ">{{item.title}}: {{item.price}} €</h5>
                                </div>
                            </div>
                        </div>
                        <div class="back ">
                            <div class="back-title ">{{item.title}}</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget quam accumsan, finibus erat id, viverra libero. Nullam erat justo, semper eget laoreet nec, pellentesque in ipsum. Donec interdum diam ut feugiat tincidunt.
                                Vestibulum.
                            </p>
                            <!-- A changer -->
                            <div class="input-group " style="width:150px; ">
                                <span class="input-group-btn ">
                                    <button type="button " class="btn btn-default btn-number " disabled="disabled " data-type="minus " data-field="quant[1] ">
                                        <span class="glyphicon glyphicon-minus "></span>
                                </button>
                                </span>
                                <input type="text " name="quant[1] " class="form-control input-number " value="3 " min="1 " max="10 ">
                                <span class="input-group-btn ">
                                    <button type="button " class="btn btn-default btn-number " data-type="plus " data-field="quant[1] ">
                                        <span class="glyphicon glyphicon-plus "></span>
                                </button>
                                </span>
                            </div>
                            <!-- incrementer decrementer-->
                            <div class="footer ">
                                <div class="left ">
                                    <p id="price ">30.00 €</p>
                                </div>
                                <div class="right ">
                                    <p>Ajouter au panier</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-shopping-cart class="shoping-card"></app-shopping-cart>
    </div>
</div>