<div class="container-fluid shopping-cart">
  <div class="row title">
    <h3>Shopping cart</h3>
  </div>
  <div class="row totalPrice">
    <div class="col-xs-6">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      Produits
    </div>
    <div class="col-xs-6">
      {{totalPrice}}€
    </div>
  </div>
  <div class="row coupon">
    <form (ngSubmit)="onCouponSubmit()">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <input type="text" class="form-control"
                 [(ngModel)]="couponCode" name="couponCode"
                 placeholder="Code de réduction">
        </div>
        <div class="col-lg-offset-3 col-xs-6">
          <button type="button" (click)="onCouponSubmit()" class="btn btn-default">Valider</button>
        </div>
      </div>
      <div class="row">
        <button type="button" (click)="order()" class="btn btn-default">Valider la commande</button>
      </div>
    </form>
  </div>
  <div class="row cart-content">
    <ul>
      <li *ngFor="let shoppingItem of shoppingCart">
        <div class="col-xs-2">{{shoppingItem.quantity}}x</div>
        <div class="col-xs-6">{{shoppingItem.item.title}}</div>
        <div class="col-xs-4">
          <div class="row">
            {{shoppingItem.item.price * shoppingItem.quantity}} €
          </div>
          <div class="row">
            <span class="glyphicon glyphicon-trash" (click)="removeItem(shoppingItem.item.id)"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
