<div class="container-fluid shopping-cart">
  <div class="row title">
    <h3>Shopping cart</h3>
  </div>
  <div class="row totalPrice">
    <div class="col-xs-6">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      Produits
    </div>
    <div class="col-xs-6">
      {{shoppingCartDataService.totalPrice()}} €
    </div>
  </div>
  <div class="cart-content">
    <ul class="list-group" style="width: 120%">
      <li class="list-group-item" *ngFor="let shoppingItem of shoppingCartDataService.getShoppingItems()">
        <div class="row ">
          <div class="col-xs-2"> <span class="quantity">{{shoppingItem.quantity}}x  </span></div>
          <div class="col-xs-6"> <span class="itemTitle">{{shoppingItem.item.title}}</span></div>
        <div class="col-xs-4 price">
          {{shoppingItem.item.price * shoppingItem.quantity}} €
          <span class="glyphicon glyphicon-trash" (click)="removeItem(shoppingItem.item)"></span>
        </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row coupon">
    <form (ngSubmit)="onCouponSubmit()">
      <div class="row">
        <div class="col-xs-8">
          <input type="text" class="form-control"
                 [(ngModel)]="couponCode" name="couponCode"
                 placeholder="Code de réduction" style="width: 80%">
        </div>
        <div class="col-xs-4">
          <button type="button" (click)="onCouponSubmit()" class="btn btn-default">Valider</button>
        </div>
      </div>
      <div class="row validation">
        <button type="button"
                (click)="validateOrder()"
                class="btn btn-default"
                [disabled]="shoppingCartDataService.getShoppingItems().length == 0">
          Valider la commande
        </button>
      </div>
    </form>
  </div>
</div>
