<div class="container">

  <div class="sub-container list">
    <ul class="list-group" >
      <li class="list-group-item addEmploye">
        <button type="button" class="btn btn-default addEmploye" data-toggle="modal" data-target="#myModal">
          Ajouter un employé(e)
        </button>
      </li>
      <li class="list-group-item employes">
        <div class="tableContainer">
          <div class="row">
            <div class="panel panel-primary filterable">
              <div class="panel-heading">
                <h3 class="panel-title">Employé(e)</h3>
              </div>
              <table class="table">
                <thead class="tableHead">
                <tr class="filters">
                  <th>#</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Email</th>
                  <th>Adresse</th>
                  <th>Téléphone</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody class="tableBody" *ngFor="let camatt of employes; let i=index">
                <tr>
                  <td>{{(i+1)}}</td>
                  <td>Some name</td>
                  <td>Some description</td>
                  <td>10</td>
                  <td>10</td>
                  <td>10</td>
                  <td> <button type="button" class="btn btn-default edit" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button></td>
                  <td> <button type="button" class="btn btn-default delete" data-toggle="modal" data-target="#deleteConfirmation">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ajouter un(e) employé(e)</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="control-label col-sm-2" for="nom">Nom:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nom" placeholder="Nom">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2" for="prenom">Prénom:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="prenom" placeholder="Prénom">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2" for="telephone">Téléphone:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="telephone" placeholder="00 11 22 33 44">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-2" for="adresse">Adresse:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="adresse" placeholder="Adresse">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default submit">Submit</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="deleteConfirmation" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Supprimer le produit ?</h4>
      </div>
      <div class="modal-footer">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default cancel" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-default submit">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

