<div class="intro-page">
    <div class="container-text">
        <div class="flex-grid">
            <div class="col">
                <span class="title">
                Gizza
              </span>
            </div>
            <div class="col-rest">
                <span class="info">
                    <i>
                    Le spécialiste de la pizza à emporter et en livraison.
                    Nous faisons preuve d’exigence à tous les niveaux quant à la sécurité alimentaire et à la qualité des ingrédients que nous utilisons.
                  </i>
                  </span>
            </div>
        </div>
        <div style="padding:30px">
            <button type="button" class="btn btn-primary-outline" routerLink="/purchase" routerLinkActive="active">Commandez en ligne</button>
        </div>
    </div>
</div>
