<footer class="page-footer">
  <div class="container">
    <div class="wrapper">
      <div class="copyright">
        <p>© 2017 Gizza</p>
        <ul>
          <li><a href="/disclaimer">Mentions légales</a></li>
          <li><a href="/terms_conditions">Conditions générales de vente</a></li>
        </ul>

        <div class="pim-content">


          <section class="content-row layout_1column centered-text">
            <section class="content-row title title_h6">

              <h6><span>Pour votre santé, mangez 5 fruits et légumes par jour. www.mangerbouger.fr</span></h6>
            </section>

          </section>
        </div>
      </div>
    </div>
  </div>
</footer>
