footer {
  background-color: #ecfdd5;
  text-align: center;
  border-radius: 10px;
  border-width: thin;
  border-color: #0d0d0d;
}

ul{
  list-style: none;
}

a.legal{
  font-family: Menlo;
  font-style: normal;
  font-size: 12px;
}

p.copyright-text{
  font-family: Georgia;
  font-style: normal;
}

h6{
  font-family:"Arial";
  font-style: normal;
}
